{{- $cols := .Get "cols" | default "1" -}}
{{- $height := .Get "height" | default "250px" -}}

<div class="image-gallery" style="--cols: {{ $cols }}; --height: {{ $height }};">
  {{ with .Page.Resources.Match (.Get "match") }}
    {{ with .ByType "image" }}
    {{ range . }}
    <figure class="gallery-item">
        <img src="{{ .RelPermalink }}"
             alt="{{ .Name }}"
             loading="lazy"
             style="width: 100%; object-fit: cover;">
    </figure>
    {{ end }}
    {{ end }}
  {{ end }}
</div>
