{{- $excluded := .Site.Params.excludedTypes | default (slice "page") -}}
{{- $past := slice -}}
{{- $future := slice -}}
{{- $futureTitle := .future_title | default "Futuro" -}}
{{- $pastTitle := .past_title | default "Passado" -}}

{{- range .pages -}}  <!-- Use .pages instead of .Data.Pages -->
  {{- $start := .Params.date_start | default .Date -}}
  {{- $startTime := time.AsTime $start -}}
  {{- if not (in $excluded .Type) -}}
    {{- if lt $startTime.Unix now.Unix -}}
      {{- $past = $past | append . -}}
    {{- else -}}
      {{- $future = $future | append . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{ partial "post-list.html" (dict "posts" $future "title" $futureTitle) }}
{{ partial "post-list.html" (dict "posts" $past "title" $pastTitle) }}
